.person{
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.person:hover{
    transform: scale(1.02, 1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.person-img-div{
    margin: 5px auto;
}
.person-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}